// Row containers
.row{
    position: relative;
    margin: 0 auto;
    max-width: $row-width;
    width: $container-width;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}



// Columns
[class*="column-"]{
    display: flex;
    flex-direction: column;

    @media (min-width: $md-breakpoint) {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }

    &, &:not(.no-width) > *{
        //width: 100%;
        max-width: 100%;
    }
}



// Create selectors for each media query
@each $bp in $bps {
    // Get name and prefix of media query
    $key: nth($bp, 1);
    $value: nth($bp, 2);

    @media #{$key}{
        @include selector('.flex', $value){ display: flex !important; }

        // Grid classes
        @for $i from 1 through $total-columns {
            $column-width-percent : (100% * ($i*($column-width+$column-gutter))) / $row-width;

            @include selector('.column-#{$i}', $value){
                width: $column-width-percent;
                max-width: $column-width-percent;
                flex: 0 0 $column-width-percent;
            }

            @include selector('.order-#{$i}', $value){ order: $i; }

            @if $i < $total-columns{
                @include selector('.offset-#{$i}', $value){
                    margin-left: $column-width-percent;
                }
            }
        }



        // Alignments
        @include selector('.align-start-start', $value) {
          justify-content: flex-start;
          align-items: flex-start;
        }
        @include selector('.align-start-end', $value) {
          justify-content: flex-start;
          align-items: flex-end;
        }
        @include selector('.align-start-center', $value) {
          justify-content: flex-start;
          align-items: center;
        }
        @include selector('.align-start-stretch', $value) {
          justify-content: flex-start;
          align-items: stretch;
        }
    
        @include selector('.align-end-start', $value) {
          justify-content: flex-end;
          align-items: flex-start;
        }
        @include selector('.align-end-end', $value) {
          justify-content: flex-end;
          align-items: flex-end;
        }
        @include selector('.align-end-center', $value) {
          justify-content: flex-end;
          align-items: center;
        }
        @include selector('.align-end-stretch', $value) {
          justify-content: flex-end;
          align-items: stretch;
        }
    
        @include selector('.align-center-start', $value) {
          justify-content: center;
          align-items: flex-start;
        }
        @include selector('.align-center-end', $value) {
          justify-content: center;
          align-items: flex-end;
        }
        @include selector('.align-center-center', $value) {
          justify-content: center;
          align-items: center;
        }
        @include selector('.align-center-stretch', $value) {
          justify-content: center;
          align-items: stretch;
        }
    
        @include selector('.align-spacebetween-start', $value) {
          justify-content: space-between;
          align-items: flex-start;
        }
        @include selector('.align-spacebetween-end', $value) {
          justify-content: space-between;
          align-items: flex-end;
        }
        @include selector('.align-spacebetween-center', $value) {
          justify-content: space-between;
          align-items: center;
        }
        @include selector('.align-spacebetween-stretch', $value) {
          justify-content: space-between;
          align-items: stretch;
        }
    
        @include selector('.align-spacearound-start', $value) {
          justify-content: space-around;
          align-items: flex-start;
        }
        @include selector('.align-spacearound-end', $value) {
          justify-content: space-around;
          align-items: flex-end;
        }
        @include selector('.align-spacearound-center', $value) {
          justify-content: space-around;
          align-items: center;
        }
        @include selector('.align-spacearound-stretch', $value) {
          justify-content: space-around;
          align-items: stretch;
        }
        @include selector('.align-self-end', $value) {
          align-self: flex-end !important;
        }
    
        // Direction
        @include selector('.layout-column', $value) { flex-direction: column; }
        @include selector('.layout-columnreverse', $value) { flex-direction: column-reverse; }
        @include selector('.layout-row', $value) { flex-direction: row; }
        @include selector('.layout-rowreverse', $value) { flex-direction: row-reverse; }
    
        // Wrap
        @include selector('.layout-wrap', $value) { flex-wrap: wrap; }
        @include selector('.layout-nowrap', $value) { flex-wrap: nowrap; }

        // Grow
        @include selector('.grow-1', $value) { flex-grow: 1; }



        // Width
        @for $i from 1 through 200{
            @include selector('.size-#{$i}', $value){ width: $i * 1% !important; max-width: $i * 1% !important; }
        }
        @include selector('.size-auto', $value){ width: auto !important; max-width: auto !important; }
        @include selector('.size-fit', $value){ width: fit-content !important; }

        // Height
        @for $i from 1 through 40{
            @include selector('.height-#{$i}', $value){ height: $i * 5% !important; max-height: $i * 5% !important; }
        }
        @include selector('.height-auto', $value){ height: auto !important; max-height: auto !important; }
    }
}