// Text
p {
    line-height: 1.5;
    margin: 0;

    &.small {
        font-size: 1.4rem;
    }
}

span.small, a.small {
    font-size: 1.4rem;
}

// Titles
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
}

*[class*="title"] {
    font-size: 2.2rem;
    font-weight: 500;
    color: clr(black);
    line-height: 1.1;

    &[class*="--gradient"] {
        font-weight: 700;
        background: linear-gradient(to right, clr(lime), clr(orange), clr(pink), clr(purple), clr(aqua));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &[class*="--smaller"] {
        font-size: 1.6rem !important;
    }

    &[class*="--small"] {
        font-size: 1.8rem;
    }

    &[class*="--big"] {
        font-size: 3rem;
        font-weight: 700;

        @media screen and (max-width: $sm-breakpoint) {
            font-size: 2.8rem;
        }
    }

    &[class*="--extra"] {
        font-size: 4.2rem;
        font-weight: 700;

        @media screen and (max-width: $sm-breakpoint) {
            font-size: 3.6rem;
        }
    }

    &[class*="--huge"] {
        font-size: 6rem;
        font-weight: 700;
    }

    &[class*="--giant"] {
        font-size: 10rem;
        font-weight: 700 !important;
    }

    &[class*="--bold"] {
        font-weight: 700 !important;
    }
}