// Colors
@function clr($key){
    @return map-get($colors, $key);
}
  
$colors: ();

$colors: map-merge((
    white: #FFFFFF,
    black : #000000,

    body_background: #FCFCFC,
    
    gray_lighter: #F7F9FC,
    gray_light: #BBB,
    gray: #999,
    gray_dark: #666,
    gray_darker: #333,
    
    blue: #5254FF,
    blue_dark: darken(#5254FF, 25%),

    purple: #BE4BDB,
    pink: #F0548B,
    aqua: #3CC8DB,
    orange: #FD9F42,
    lime: #D0F36B,
), $colors);



// Transitions
$transition: all 0.2s ease-in-out;



// Grid
$row-width: 132rem;
$container-width: 100%;
$total-columns: 12;
$column-gutter: 3.5rem;
$column-width: 7.5rem;
$vr: 2rem;



// Responsive
$sm-breakpoint:  767px;
$md-breakpoint: 1250px;
$lg-breakpoint: 1440px;
$xl-breakpoint: 1920px;

$sm-range:   (0, $sm-breakpoint);
$md-range:  ($sm-breakpoint  + 1px, $md-breakpoint);
$lg-range:   ($md-breakpoint + 1px, $lg-breakpoint);
$xl-range:   ($lg-breakpoint + 1px, $xl-breakpoint);

$screen: "only screen";

$sm-up: $screen;
$sm-only: "#{$screen} and (max-width: #{nth($sm-range, 2)})";

$md-up: "#{$screen} and (min-width:#{nth($md-range, 1)})";
$md-only: "#{$screen} and (min-width:#{nth($md-range, 1)}) and (max-width:#{nth($md-range, 2)})";

$lg-up: "#{$screen} and (min-width:#{nth($lg-range, 1)})";
$lg-only: "#{$screen} and (min-width:#{nth($lg-range, 1)}) and (max-width:#{nth($lg-range, 2)})";

$xl-up: "#{$screen} and (min-width:#{nth($xl-range, 1)})";
$xl-only: "#{$screen} and (min-width:#{nth($xl-range, 1)}) and (max-width:#{nth($xl-range, 2)})";

$retina: (
    "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
    "#{$screen} and (min--moz-device-pixel-ratio: 2)",
    "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
    "#{$screen} and (min-device-pixel-ratio: 2)",
    "#{$screen} and (min-resolution: 192dpi)",
    "#{$screen} and (min-resolution: 2dppx)"
);

// Legacy
$sm: $sm-up;
$md: $md-up;
$lg: $lg-up;
$xl: $xl-up;

$bps: (
    #{$sm} 'sm',
    #{$md} 'md',
    #{$lg} 'lg',
    #{$xl} 'xl',
);