.post-content {
    p {
        max-width: 70ch !important;

        &:first-of-type {
            font-size: 1.8rem;
            font-weight: bold;
            color: clr(black);
            margin-bottom: 5rem;
            padding-bottom: 5rem;
            position: relative;

            &:after {
                content: "";
                height: 0.2rem;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: clr(gray_light);
            }
        }
    }

    p > img {
        max-width: 100% !important;
    }

    img {
        max-width: 100% !important;
        width: 100% !important;
        margin: 2.5rem auto 5rem auto !important;
        height: auto !important;
    }
}