// Text
p {
    margin: 0 0 2.5rem 0;
    line-height: 1.5;

    &:last-of-type {
        margin: 0;
    }
}

.text-small {
    font-size: 1.4rem;
}

// Titles
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.title {
    font-size: 2.25rem;
    font-weight: 500;
    color: #{clr(black)};
    font-family: "Lemon Milk Pro", sans-serif;

    &--small {
        font-size: 1.6rem;
    }

    &--big {
        font-size: 3.5rem;
    }

    &--extra {
        font-size: 5rem;
    }

    &--huge {
        font-size: 7.5rem;
    }

    &--giant {
        font-size: 10rem;
    }
    
    &--medium {
        font-weight: 500;
    }

    &--bold {
        font-weight: 700;
    }
}