.icon {
    max-width: 2.4rem !important;
    max-height: 2.4rem !important;
    display: inline-block;
    
    &--big {
        max-width: 3.5rem !important;
        max-height: 3.5rem !important;
    }
    
    &--huge {
        max-width: 7.5rem !important;
        max-height: 7.5rem !important;
    }
    
    &--giant {
        max-width: 10rem !important;
        max-height: 10rem !important;
    }
    
    &--extra_giant {
        max-width: 15rem !important;
        max-height: 15rem !important;
    }

    &--blue {
        fill: clr(blue);
        color: clr(blue);
    }

    &--white {
        fill: clr(white);
        color: clr(white);
    }

    &--gray_lighter {
        fill: clr(gray_ligher);
        color: clr(gray_ligher);
    }
}