.swiper-speech {
    &__toggles {
        width: 100%;
        padding-bottom: 100%;
        background: #{clr(blue)};
        border-radius: 100%;
        overflow: hidden;
        position: relative;

        &__container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    &__prev, &__next {
        outline: none !important;

        &:visited, &:focus, &:active {
            outline: none !important;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__prev {
        transform: scaleX(-1);
    }
}

.swiper-button-disabled {
    filter: opacity(0.5) !important;

    &:hover {
        cursor: default !important;
    }
}