.underline {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
    }

    &--center {
        &:after {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &--left {
        &:after {
            left: 0;
        }
    }

    &--blue {
        &:after {
            background: #{clr(blue)};
            height: 0.5rem;
            width: 7.5rem;
        }
    }
}