.image-container {
    content: "";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--vertical {
        @media screen and (max-width: $sm-breakpoint) {
            padding-bottom: 150%;
        }
    }
}