a {
    color: inherit;
    text-decoration: none;
    margin: 0;

    &:hover {
        cursor: pointer;
    }
}

.button {
    padding: 1.25rem 2.5rem;
    color: #{clr(white)};
    border-radius: 0.25rem;
    background: #{clr(blue)};
    transition: $transition;
    border: 0.2rem solid #{clr(blue)};
    font-family: "Lemon Milk Pro", sans-serif;
    font-size: 1.4rem;

    &--inverted {
        background: none;
        color: #{clr(blue)};

        &:hover {
            background: #{clr(blue)};
            color: #{clr(white)};
        }
    }
}

.link-arrow {
    position: relative;
    padding-right: 7.5rem;
    transition: $transition;
    font-weight: 500;
    color: #{clr(black)};
    font-family: "Lemon Milk Pro", sans-serif;

    &:after {
        content: url('../svg/arrow-right.svg');
        position: absolute;
        right: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
        transition: $transition;
        vertical-align: -50%;
    }

    &:hover {
        &:after {
            right: 0;
        }
    }
}